.parentContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.userListContainer {
    display: flex;
    flex-direction: column;
    background-color: #D6E0E2;
    width: 800px;
    height: 600px;
    overflow-y: scroll;
    overflow-x: hidden;
    border-radius: 30px;
    gap: 10px;
    padding: 20px;
    justify-content: flex-start; 
    align-items: center;
}

.userListItem {
    height: 80px;
    width: 500px;
    background-color: #395c43;
    border: 3px solid black;
    border-radius: 10px;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
